@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;400;500;600&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  max-width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  font-family: 'Open Sans';
  line-height: 1.7; }

strong {
  font-weight: 700; }

em {
  font-size: 18px;
  margin: 0px 0px 0px -10px; }

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.container {
  max-width: 600px;
  padding: 50px 15px;
  margin: 0 auto; }
  @media (max-width: 483px) {
    .container {
      padding: 30px 15px; } }

/* header styles starts */
.header {
  background-color: #f67b7c; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header__text-link {
    font-size: 1.75rem;
    font-weight: 700;
    color: #ffffff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin: 0px 50px 0px 0px; }
    .header__text-link:hover, .header__text-link:focus, .header__text-link:active {
      color: #344b61; }
  .header__sub-text-link {
    font-size: 0.8rem;
    color: #f6eeee;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .header__sub-text-link:hover, .header__sub-text-link:focus, .header__sub-text-link:active {
      text-decoration: underline;
      color: #344b61; }
  .header__image img {
    width: 150px;
    height: 130px;
    margin: 0 auto; }
  .header__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__title {
    font-size: 2.875rem;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 0px 0px 20px 0px; }
    @media (max-width: 483px) {
      .header__title {
        line-height: 1.4; } }
  .header__sub-sub-text {
    font-size: 0.875rem;
    color: #f6eeee;
    text-align: center;
    margin: 0px 0px 40px 0px; }
  .header__btn {
    width: 134px;
    height: 35px;
    background-color: #344b61;
    border-radius: 17.5px;
    font-size: 0.875rem;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 10px;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .header__btn:hover, .header__btn:focus, .header__btn:active {
      background-color: #1f3243; }

/* header styles end */
/* icons styles starts */
.icons {
  background-color: #344b61; }
  .icons .earth {
    border-radius: 50%; }
  .icons__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 20px; }
  @media (max-width: 670px) {
    .icons__culomn {
      margin: 0px 0px 30px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
      .icons__culomn:last-child {
        margin: 0px; } }
  .icons__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px 0px 20px 0px; }
  .icons__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center; }
  .icons__link {
    font-size: 0.875rem;
    color: #f67b7c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .icons__link:hover, .icons__link:focus, .icons__link:active {
      text-decoration: underline; }

/* icons styles end */
/* workspace styles starts */
.workspace__fon {
  max-width: 600px;
  height: 240px;
  background-color: #f8f8f8;
  border-radius: 3px;
  margin: 0px 0px 30px 0px; }

.workspace__fon img {
  width: 100%; }

.workspace__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.workspace__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin: 0px 50px 30px 0px; }
  @media (max-width: 483px) {
    .workspace__title {
      line-height: 1.4;
      margin: 0px 50px 0px 0px; } }

.workspace__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0px 0px 0px; }

.workspace__text-link {
  font-size: 0.81rem;
  color: #f67b7c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .workspace__text-link:hover, .workspace__text-link:focus, .workspace__text-link:active {
    text-decoration: underline; }

.workspace__icons img {
  width: 12px;
  height: 12px; }

.workspace__icons {
  margin: 8px 0px 0px 10px; }

.workspace__sub-text {
  font-size: 0.875rem;
  color: #808080;
  margin: 0px 0px 30px 0px;
  max-width: 610px; }

.workspace__btn {
  font-size: 0.875rem;
  color: #ffffff;
  width: 117px;
  height: 35px;
  background-color: #f67b7c;
  border-radius: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .workspace__btn:hover, .workspace__btn:focus, .workspace__btn:active {
    background-color: #ba5a5a; }

/* workspace styles end */
/* work styles starts */
.work {
  background-color: #f8f8f8; }
  .work__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
    margin: 0px 0px 70px 0px;
    text-align: center;
    position: relative; }
    .work__title::before {
      content: '';
      position: absolute;
      top: 180%;
      left: 41%;
      width: 111px;
      height: 1px;
      background-color: #e7e7e7; }
      @media (max-width: 500px) {
        .work__title::before {
          left: 37%; } }
      @media (max-width: 483px) {
        .work__title::before {
          top: 135%; } }
      @media (max-width: 397px) {
        .work__title::before {
          top: 120%;
          left: 33%; } }
      @media (max-width: 320px) {
        .work__title::before {
          top: 120%;
          left: 33%; } }
    @media (max-width: 483px) {
      .work__title {
        margin: 0px 0px 35px 0px; } }
  .work__text {
    font-size: 0.875rem;
    color: #808080;
    max-width: 610px;
    margin: 0 auto 40px; }
    @media (max-width: 483px) {
      .work__text {
        margin: 0 auto 20px; } }
  .work__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px -10px; }
    @media (max-width: 500px) {
      .work__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .work__culomn {
    padding: 0px 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }
    @media (max-width: 500px) {
      .work__culomn {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin: 0px 0px 30px 0px; } }
  @media (max-width: 500px) and (max-width: 483px) {
    .work__culomn {
      margin: 0px 0px 20px 0px; } }
    @media (max-width: 500px) {
        .work__culomn:last-child {
          margin: 0px; } }
  .work__item {
    background-color: #fff; }
  .work__image {
    margin: 0px 0px 18px 0px; }
  .work__image img {
    width: 100%; }
  .work__sub-title {
    font-size: 0.9375rem;
    font-weight: 600;
    color: #262626;
    text-align: center; }
  .work__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 15px 10px 15px; }
  .work__sub-text-link {
    font-size: 0.81rem;
    color: #f67b7c;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .work__sub-text-link:hover, .work__sub-text-link:focus, .work__sub-text-link:active {
      text-decoration: underline; }
  .work__icon img {
    width: 12px;
    height: 12px; }
  .work__icon {
    margin: 5px 0px 0px 0px; }

/* work styles end */
/* concepts styles starts */
.concepts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 420px) {
    .concepts__container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.concepts__image {
  margin: 0px 50px 0px 0px; }
  @media (max-width: 500px) {
    .concepts__image {
      margin: 0px 30px 0px 0px; } }
  @media (max-width: 420px) {
    .concepts__image {
      margin: 0 auto 20px; } }

.concepts__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin: 0px 0px 20px 0px; }
  @media (max-width: 483px) {
    .concepts__title {
      margin: 0px 0px 5px 0px; } }
  @media (max-width: 420px) {
    .concepts__title {
      text-align: center; } }

.concepts__text {
  font-size: 0.875rem;
  color: #808080;
  margin: 0px 0px 30px 0px; }
  @media (max-width: 483px) {
    .concepts__text {
      margin: 0px 0px 20px 0px; } }
  @media (max-width: 420px) {
    .concepts__text {
      text-align: center; } }

.concepts__text-link {
  width: 117px;
  height: 35px;
  background-color: #f67b7c;
  border-radius: 17.5px;
  font-size: 0.875rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .concepts__text-link:hover, .concepts__text-link:focus, .concepts__text-link:active {
    background-color: #ba5a5a; }
  @media (max-width: 420px) {
    .concepts__text-link {
      margin: 0 auto; } }

.concepts__bgr {
  background-color: #f8f8f8;
  width: 100%;
  height: 1px; }

/* concepts styles end */
/* users styles starts */
.users__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 420px) {
    .users__container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }

.users__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin: 0px 0px 20px 0px; }
  @media (max-width: 483px) {
    .users__title {
      margin: 0px 0px 5px 0px; } }
  @media (max-width: 420px) {
    .users__title {
      text-align: center; } }

.users__text {
  font-size: 0.875rem;
  color: #808080;
  margin: 0px 0px 30px 0px; }
  @media (max-width: 483px) {
    .users__text {
      margin: 0px 0px 20px 0px; } }
  @media (max-width: 420px) {
    .users__text {
      text-align: center; } }

.users__text-link {
  width: 117px;
  height: 35px;
  background-color: #f67b7c;
  border-radius: 17.5px;
  font-size: 0.875rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .users__text-link:hover, .users__text-link:focus, .users__text-link:active {
    background-color: #ba5a5a; }
  @media (max-width: 420px) {
    .users__text-link {
      margin: 0 auto; } }

.users__image {
  margin: 0px 0px 0px 50px; }
  @media (max-width: 483px) {
    .users__image {
      margin: 0px 0px 0px 30px; } }
  @media (max-width: 420px) {
    .users__image {
      margin: 0 auto 20px; } }

/* users styles end */
/* clients styles starts */
.clients {
  background-color: #f67b7c; }
  .clients__title {
    font-size: 1.5rem;
    color: #ffffff;
    position: relative;
    text-align: center;
    padding: 0px 0px 70px 0px; }
    .clients__title::after {
      content: '';
      position: absolute;
      top: 65%;
      left: 41%;
      width: 111px;
      height: 1px;
      background-color: #ffffff; }
      @media (max-width: 483px) {
        .clients__title::after {
          left: 37%; } }
      @media (max-width: 400px) {
        .clients__title::after {
          top: 75%; } }
      @media (max-width: 397px) {
        .clients__title::after {
          top: 75%;
          left: 35%; } }
      @media (max-width: 350px) {
        .clients__title::after {
          top: 75%;
          left: 33%; } }
      @media (max-width: 340px) {
        .clients__title::after {
          top: 85%;
          left: 30%; } }
    @media (max-width: 483px) {
      .clients__title {
        padding: 0px 0px 35px 0px; } }
  .clients__text {
    font-size: 0.875rem;
    color: #ffffff;
    margin: 0px 0px 40px 0px; }
    @media (max-width: 483px) {
      .clients__text {
        margin: 0px 0px 20px 0px; } }
  .clients__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 470px) {
      .clients__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .clients__culomn {
    background-color: #fff;
    margin: 0px 50px 0px 0px;
    padding: 0px 10px;
    border-radius: 3px; }
    .clients__culomn:last-child {
      margin: 0px; }
    @media (max-width: 630px) {
      .clients__culomn {
        margin: 0px 20px 0px 0px; } }
    @media (max-width: 483px) {
      .clients__culomn {
        margin: 0px 0px 20px 0px; } }
  .clients__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px 0px 30px 0px; }
  .clients__image img {
    border-radius: 50%; }
  .clients__sub-text {
    font-size: 0.875rem;
    color: #808080;
    margin: 0px 0px 30px 0px;
    text-align: center; }
  .clients__sub-sub-text {
    font-size: 0.875rem;
    font-weight: 700;
    color: #262626;
    margin: 0px 0px 30px 0px;
    text-align: center; }
  .clients__text-link {
    color: #f67b7c;
    font-weight: 400; }
    .clients__text-link:hover, .clients__text-link:focus, .clients__text-link:active {
      text-decoration: underline; }

/* clients styles end */
/* block styles starts */
.block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 10px; }
  @media (max-width: 500px) {
    .block__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.block__culomn {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin: 0px 60px 0px 0px; }
  .block__culomn:last-child {
    margin: 0px; }
  @media (max-width: 500px) {
    .block__culomn {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      margin: 0 auto;
      padding: 0px 0px 30px 0px; }
      .block__culomn:last-child {
        padding: 0px; } }
  @media (max-width: 483px) {
    .block__culomn {
      padding: 0px 0px 20px 0px; }
      .block__culomn:last-child {
        padding: 0px; } }

.block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 30px 0px; }
  @media (max-width: 483px) {
    .block__image {
      margin: 0px 0px 20px 0px; } }

.block__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  text-align: center;
  margin: 0px 0px 20px 0px; }
  @media (max-width: 483px) {
    .block__title {
      margin: 0px 0px 10px 0px; } }

.block__text {
  font-size: 0.875rem;
  color: #808080;
  text-align: center;
  margin: 0px 0px 30px 0px; }
  @media (max-width: 483px) {
    .block__text {
      margin: 0px 0px 20px 0px; } }

.block__text-link {
  width: 117px;
  height: 35px;
  background-color: #f67b7c;
  border-radius: 17.5px;
  font-size: 0.875rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 0 auto; }
  .block__text-link:hover, .block__text-link:focus, .block__text-link:active {
    background-color: #ba5a5a; }

.block__bgr {
  height: 1px;
  background-color: #f8f8f8;
  width: 100%; }

.block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 610px) {
    .block__wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.block__item {
  margin: 0px 60px 0px 0px; }
  .block__item:last-child {
    margin: 0px; }
  @media (max-width: 610px) {
    .block__item {
      margin: 0px 0px 30px 0px; } }
  @media (max-width: 483px) {
    .block__item {
      margin: 0px 0px 20px 0px; } }

.block__sub-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626; }

.block__sub-text {
  font-size: 0.875rem;
  color: #808080;
  margin: 0px 0px 5px 0px; }

.block__sub-text-link {
  color: #f67b7c;
  font-size: 0.875rem; }
  .block__sub-text-link:hover, .block__sub-text-link:focus, .block__sub-text-link:active {
    text-decoration: underline; }

.airplane {
  position: relative;
  padding: 0px 0px 30px 50px; }
  @media (max-width: 483px) {
    .airplane {
      padding: 0px 0px 20px 50px; } }
  .airplane::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 40px;
    background: url("../img/icons_3.jpg") no-repeat;
    top: 5px;
    left: 0px; }

.card {
  position: relative;
  padding: 0px 0px 30px 50px; }
  @media (max-width: 483px) {
    .card {
      padding: 0px 0px 20px 50px; } }
  .card::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 40px;
    background: url("../img/icons_2.jpg") no-repeat;
    top: 9px;
    left: 0px; }

/* block styles end */
/* video styles starts */
.video {
  background-color: #344b61; }
  .video__title {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin: 0px 0px 20px 0px; }
    @media (max-width: 483px) {
      .video__title {
        margin: 0px 0px 0px 0px; } }
  .video__text {
    text-align: center;
    margin: 0px 0px 40px 0px; }
    @media (max-width: 483px) {
      .video__text {
        margin: 0px 0px 20px 0px; } }
  .video__text-link {
    font-size: 0.875rem;
    color: #f67b7c;
    text-align: center; }
    .video__text-link:hover, .video__text-link:active, .video__text-link:focus {
      text-decoration: underline; }
  .video__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 349px;
    height: 200px;
    background-color: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.31);
    border-radius: 3px; }
    @media (max-width: 410px) {
      .video__video {
        width: 100%;
        height: 100%; } }

/* video styles end */
/* desidned styles starts */
.designed__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  text-align: center;
  position: relative;
  padding: 0px 0px 70px 0px; }
  .designed__title::after {
    content: '';
    position: absolute;
    top: 65%;
    left: 39%;
    width: 111px;
    height: 1px;
    background-color: #e7e7e7; }
    @media (max-width: 483px) {
      .designed__title::after {
        left: 35%;
        top: 75%; } }
    @media (max-width: 320px) {
      .designed__title::after {
        left: 32%; } }
  @media (max-width: 483px) {
    .designed__title {
      padding: 0px 0px 35px 0px; } }

.designed__text {
  font-size: 0.875rem;
  color: #808080;
  margin: 0px 0px 30px 0px; }
  @media (max-width: 483px) {
    .designed__text {
      margin: 0px 0px 20px 0px; } }

.designed__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.designed__image {
  margin: 0px 10px 30px 0px; }
  .designed__image:last-child {
    margin: 0px; }
  @media (max-width: 483px) {
    .designed__image {
      margin: 0px 10px 20px 0px; } }

.designed__image img {
  width: 100%; }

.designed__sub-text {
  font-size: 0.875rem;
  color: #808080; }

/* desidned styles end */
/* website styles starts */
.website {
  background: #344b61; }
  .website__title {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin: 0px 0px 20px 0px; }
    @media (max-width: 500px) {
      .website__title {
        margin: 0px 0px 0px 0px; } }
  .website__text {
    text-align: center;
    margin: 0px 0px 40px 0px; }
    @media (max-width: 500px) {
      .website__text {
        margin: 0px 0px 20px 0px; } }
  .website__text-link {
    font-size: 0.875rem;
    color: #f67b7c;
    text-align: center; }
    .website__text-link:hover, .website__text-link:active, .website__text-link:focus {
      text-decoration: underline; }
  .website__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 349px;
    height: 200px;
    background-color: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.31);
    border-radius: 3px; }
    @media (max-width: 410px) {
      .website__video {
        width: 100%;
        height: 100%; } }

/* website styles end */
/* price styles starts */
.price__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  text-align: center;
  position: relative;
  padding: 0px 0px 70px 0px; }
  .price__title::after {
    content: '';
    position: absolute;
    top: 65%;
    left: 39%;
    width: 111px;
    height: 1px;
    background-color: #e7e7e7; }
    @media (max-width: 483px) {
      .price__title::after {
        left: 35%;
        top: 75%; } }
    @media (max-width: 320px) {
      .price__title::after {
        left: 32%; } }
  @media (max-width: 483px) {
    .price__title {
      padding: 0px 0px 35px 0px; } }

.price__text {
  font-size: 0.875rem;
  color: #808080;
  margin: 0px 0px 50px 0px; }
  @media (max-width: 483px) {
    .price__text {
      margin: 0px 0px 20px 0px; } }

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 20px 0px; }
  @media (max-width: 540px) {
    .price__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.price__culomn {
  color: #262626;
  width: 192px;
  height: 318px;
  background-color: #f8f8f8;
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 20px 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .price__culomn:last-child {
    margin: 0px; }
  .price__culomn:hover, .price__culomn:focus, .price__culomn:active {
    background-color: #344b61;
    color: #fff; }
  @media (max-width: 540px) {
    .price__culomn {
      margin: 0px 10px 20px 0px; } }

.price__sub-title {
  font-size: 1.18rem;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #fff; }

.price__sub-text {
  font-size: 0.875rem;
  opacity: 90%;
  text-align: center;
  margin: 0px 0px 5px 0px; }

.price__price {
  font-size: 2.375rem;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 10px 0px; }

.price__many {
  font-size: 18px; }

.price__btn {
  width: 117px;
  height: 35px;
  background-color: #f67b7c;
  border-radius: 17.5px;
  font-size: 0.875rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 0 auto; }
  .price__btn:hover, .price__btn:focus, .price__btn:active {
    background-color: #ba5a5a; }

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 423px) {
    .price__wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.price__items {
  border-radius: 3px;
  width: 100%;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 20px 0px;
  cursor: pointer;
  margin: 0px 10px 0px 0px; }
  .price__items:last-child {
    margin: 0px; }
  .price__items:hover, .price__items:focus, .price__items:active {
    background-color: #344b61;
    color: #fff; }
  @media (max-width: 423px) {
    .price__items {
      margin: 0px 10px 20px 0px;
      width: 192px; } }

/* price styles end */
/* like styles starts */
.like {
  background: #f67b7c; }
  .like__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px 0px 15px 0px; }
  .like__image img {
    border-radius: 50%; }
  .like__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0px 0px 30px 0px; }
    @media (max-width: 483px) {
      .like__title {
        margin: 0px 0px 5px 0px; } }
  .like__text {
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    margin: 0px 0px 40px 0px; }
    @media (max-width: 483px) {
      .like__text {
        margin: 0px 0px 20px 0px; } }
  .like__btn {
    font-size: 0.875rem;
    color: #344b61;
    width: 126px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 17.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .like__btn:hover, .like__btn:focus, .like__btn:active {
      background-color: #344b61;
      color: #fff; }

/* like styles end */
/* footer styles starts */
.footer {
  background: #344b61; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 440px) {
      .footer__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__culomn {
    margin: 0px 30px 0px 0px; }
    .footer__culomn:last-child {
      margin: 0; }
    @media (max-width: 483px) {
      .footer__culomn {
        margin: 0px 0px 20px 0px; } }
  .footer__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center; }
  .footer__text {
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    max-width: 200px; }
    @media (max-width: 440px) {
      .footer__text {
        max-width: 300px; } }
  .footer__polosa {
    height: 1px;
    opacity: 0.1;
    background-color: #ffffff;
    width: 100%; }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer__image {
    font-size: 1.75rem;
    font-weight: 700; }
    @media (max-width: 470px) {
      .footer__image {
        margin: 0px 50px 0px 0px; } }
  .footer__image-link {
    color: #ffffff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .footer__image-link:hover, .footer__image-link:focus, .footer__image-link:active {
      color: #808080; }
  .footer__sub-text {
    color: #808080;
    margin: 13px 0px 0px 0px; }
    @media (max-width: 470px) {
      .footer__sub-text {
        margin: 13px 50px 0px 0px; } }
    @media (max-width: 429px) {
      .footer__sub-text {
        margin: 0px 50px 15px 0px; } }
  .footer__sub-text-link {
    font-size: 0.875rem;
    color: #f67b7c; }
    .footer__sub-text-link:hover, .footer__sub-text-link:focus, .footer__sub-text-link:active {
      text-decoration: underline; }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 13px 0px 0px 0px; }
    @media (max-width: 429px) {
      .footer__item {
        margin: 0px 0px 0px 0px; } }
  .footer__twitter img {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px; }
  .footer__facebook img {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px; }
  .footer__google img {
    width: 20px;
    height: 20px; }

/* footer styles end */
